<div class="main-header">
	<img src="img/cats/logo-{{filterValue}}.png" data-dogs="img/cats/logo-dogs.png" data-cats="img/cats/logo-cats.png">
	{{!-- http://www.blingcheese.com/image/code/99/bulldog.htm --}}
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="row">
		    <div id="settingsArea" class="col-md-offset-1 col-md-10 col-sm-12"></div>
	    </div>
		<div class="row">
		    <div id="contentArea" class="col-md-offset-1 col-md-10 col-sm-12"></div>
	    </div>
	</div>
</div>